\documentclass[12pt,a4paper]{book}
\usepackage{ucs}
\usepackage[utf8x]{inputenc}
\usepackage{hyperref}
\usepackage{xspace}
\usepackage{graphicx}
\usepackage[usenames,dvipsnames]{color}
\hypersetup{colorlinks=true,urlcolor=blue}

\title{\Huge <%= book.title %>}
\author{\Huge <%= book.author %>}

\begin{document}

\maketitle

\tableofcontents

<% book.toc.each do |page| %>
\include{<%= page.ext('') %>}
<% end %>

\end{document}