/*
#A3B2BF gris
#9FA66F vert
#F2D7B6 beige
#8C6E5D marron
black
*/

body {
	margin-top: 1.0em;
	background-color: #8C6E5D;/*#997867;*/
	color: #d8b9a7;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
#container {
	border-radius: 350px 350px 0px 0px;
	margin: 10px auto 0;
	width: 700px;
	background: #3f2A24 0 30px;
	padding: 0 10px 10px;
	border: thin solid #3a2621;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
h1 {
	display: block;
	width: 700px;
	height: 481px;
	color: #1E3F3F; 
	margin-bottom: -300px;
	background: url(lion.png) no-repeat 0 67px;
	text-shadow: #5e8c8c 0 0 3px;
	font: 6em 'UnifrakturCook';
	margin-top: 10px;
	padding-top: 300px;
	white-space: normal;
	padding-right: 0;
	padding-left: 0;
}
h1 .small { 
	font-size: 0.4em;
}
h1 a {
	text-decoration: none;
	color: #1E3F3F;
	/*text-shadow: black 0 0 3px;*/
}
h2 { 
	font-size: 1.6em;
	color: #5e8c8c;
	margin-bottom: 0;
}
h3 {
	text-align: center;
	color: #9FA66F;
}
a {
	color: #5e8c8c;
}
.description { 
	font-size: 1.5em;
	margin-bottom: 30px;
	margin-top: 30px;
	color: #1E3F3F;
	background-color: #5e8c8c;
	padding: 10px;
	text-align: justify;
	border: thin solid #1E3F3F;
	opacity: 1;
}
.description:first-letter {
	font: 2.4em 'UnifrakturCook';
	float: left;
	margin: 0 1px -7px 0;
}
.download {
	float: right;
}
pre {
	background: #000;
	color: #5e8c8c;
	padding: 10px;
	border: thin solid #775c4e;
}
hr { 
	border: 0;
	width: 80%;
	border-bottom:1px solid #aaa
}
.footer {
	font-size: 0.7em;
	text-align:center;
	padding-top:30px;
}
#features {
	width: 700px;
	column-width: 300px;
}